nav{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgb(0, 0, 0,0.465);
    padding: 3rem;
}
nav > a {
     font: 600 1.5rem cursive;
     color: rgba(0, 0, 0, 0.465);
     text-decoration: none;
     margin: 0 1rem;
}